.comic-neue-regular {
	font-family: 'Comic Neue', serif;
	font-weight: 400;
	font-style: normal;
}

.comic-neue-bold {
	font-family: 'Comic Neue', serif;
	font-weight: 700;
	font-style: normal;
}

.background-icons {
	position: relative;
	&::before {
		content: '';
		background-image: url('./../assets/Patron.png');
		background-repeat: repeat;
		background-position: center;
		background-size: contain;
		opacity: 0.2;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
	}
}

.bg-image {
	background-image: var(--bg-image);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.sidebar {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	gap: 10px;
	&-left {
		left: 0;
		.sidebar__button {
			border-top-right-radius: 6rem;
			border-bottom-right-radius: 6rem;
		}
	}
	&-right {
		right: 0;
		.sidebar__button {
			border-top-left-radius: 6rem;
			border-bottom-left-radius: 6rem;
		}
	}
	&__button {
		width: 3.125rem;
		height: 3.125rem;
		background-color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s;
		box-shadow: -5px 0px 20px -5px rgba(0, 0, 0, 0.3);
		&:hover {
			background-color: #d3d4d5;
		}
	}
}

.w-15 {
	width: 15% !important;
}

.carousel {
	padding-right: 2rem;
	padding-left: 2rem;
	&__contenedor {
		position: relative;
		.carousel__items {
			.glider-slide {
				margin: 1rem;
			}
		}
	}
	&__sombra {
		box-shadow: 0px 0px 1.25rem 0px rgba(0, 0, 0, 0.15);
		&-hover {
			transition: ease 0.3s all;

			&:hover {
				box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
			}
		}
	}

	&__anterior,
	&__siguiente {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3rem;
		height: 3rem;
		font-size: 2.5rem;
		border: none;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		line-height: 2rem;
		text-align: center;
		background-color: $white;
		color: $primary;
		opacity: 0.75;
		border-radius: 50rem;
		box-shadow: -5px 0px 20px -5px rgba(34, 34, 34, 0.302);
		&:hover {
			opacity: 1;
		}
	}
	&__anterior {
		left: -3rem;
	}
	&__siguiente {
		right: -3rem;
	}
	&__circle {
		padding: 2rem;
		border: 0.5rem solid $primary;
		border-radius: 50rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: ease 0.3s all;
		&:hover {
			padding: 1rem;
			.carousel__overlay {
				opacity: 0.5;
			}
		}
	}
	&__overlay {
		position: absolute;
		border-radius: 50rem;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: ease 0.5s all;
		background-color: $primary;
	}
}

.img-fluid-container {
	height: 100%;
	width: 100%;
}

.bg-opacity {
	--bs-bg-opacity: 0;
	opacity: 0;
	transition: ease 0.5s all;
	&:hover {
		--bs-bg-opacity: 0.5;
		opacity: 1;
	}
}

.social {
	display: flex;
	flex-direction: row;
	gap: 0.625rem;
	&__link {
		display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $primary;
		width: 2.5rem;
		height: 2.5rem;
		color: $white;
		border-radius: 50rem;
		font-size: 1.25rem;
		transition: ease all 1s;
		&:hover {
			background-color: #fdb351;
		}
	}
}

.bg-tertiary {
	--bs-bg-opacity: 1;
	background-color: rgba(47, 58, 77, var(--bs-bg-opacity));
}

.navbar-white-lg {
	.navbar-brand {
		margin-right: 0;
	}
	.nav-link {
		color: $white;
		font-weight: bold;
	}
}

@media (max-width: 768px) {
	.navbar-white-lg {
		--bs-bg-opacity: 1;
		background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity));
		border-radius: var(--bs-border-radius-xl);
		.nav-link {
			color: #9c9fa4;
			font-weight: normal;
		}
	}
	.carousel {
		&__anterior {
			left: -1.5rem;
		}
		&__siguiente {
			right: -1.5rem;
		}
		&__anterior,
		&__siguiente {
			opacity: 1;
		}
		&__sombra {
			&-hover {
				box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
			}
		}
	}
	.sidebar {
		display: none;
	}
}
